In [1]:
import pandas as pd

data = pd.DataFrame({'color': ['blue', 'red', 'yellow']})

In [2]:
data

    color
0    blue
1     red
2  yellow

In [3]:
pd.get_dummies(data['color'], prefix='color')  ## 其中 prefix 为新的特征名称前缀

   color_blue  color_red  color_yellow
0           1          0             0
1           0          1             0
2           0          0             1

In [4]:
df = pd.DataFrame({'color': ['blue', 'red', 'yellow']})
df['color'] = df['color'].astype(pd.CategoricalDtype(['blue', 'green']))
df

  color
0  blue
1   NaN
2   NaN

In [6]:
pd.get_dummies(df['color'], prefix='color')  ## 其中 prefix 为新的特征名称前缀

   color_blue  color_green
0           1            0
1           0            0
2           0            0

In [11]:
df = pd.concat([df, pd.get_dummies(df['color'], prefix='color', dummy_na=True)], axis=1)

In [12]:
df

  color  color_blue  color_green  color_blue  color_green  color_nan
0  blue           1            0           1            0          0
1   NaN           0            0           0            0          1
2   NaN           0            0           0            0          1